@import 'theme';

.wrapper {
  margin: -10px;
  background: $color-background;
  font-family: Space Grotesk;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  * {
    cursor: none;
    color: $color-primary;
  }
}
