@import 'theme';

.wrapper {
  display: flex;
  .box {
    padding: 10px;
    padding-left: 4px;
    border: 4px solid $color-primary;
    overflow: visible;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border-top: 52px solid $color-primary;
      border-left: 52px solid transparent;
      width: 0;
    }
    .content {
      margin-left: -14px;
      padding: 4px;
      padding-right: 0;
      background: $color-background;
      &::before {
        content: '';
        position: absolute;
        top: -4px;
        right: -4px;
        border-top: 54px solid $color-background;
        border-left: 54px solid transparent;
        width: 0;
        z-index: 2;
      }
      .name {
        text-transform: lowercase;
        font-family: Space Grotesk;
        font-size: 80px;
        line-height: 68px;
        font-weight: 300;
        margin: 4px 0 12px;
      }
      .title {
        margin-left: -16px;
        margin-bottom: 16px;
        text-transform: uppercase;
        span {
          padding: 4px 8px;
          letter-spacing: 2px;
          background: $color-primary;
          color: $color-background;
        }
      }
      .contact-wrapper {
        margin-bottom: 4px;
        a {
          margin-right: 24px;
          font-size: 24px;
          svg {
            vertical-align: bottom;
          }
        }
      }
    }
  }
}
