@font-face {
  font-family: 'YesevaOne';
  src: url('./assets/fonts/YesevaOne-Regular.ttf');
}
@font-face {
  font-family: 'LoraItalic';
  src: url('./assets/fonts/Lora-BoldItalic.ttf');
}
@font-face {
  font-family: 'Newsreader';
  src: url('./assets/fonts/Newsreader-ExtraLight.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Newsreader';
  src: url('./assets/fonts/Newsreader-Regular.ttf');
  font-weight: bold;
}

* {
  font-family: 'Newsreader';
  font-size: 20px;
}
body {
  background: #f9f1e1;
  background: #edecf8;
  margin: 0;
  color: #005661;
  color: #0c006b;
}
