.scroll-wrapper {
  height: 100vh;
  overflow: auto;
  .wrapper {
    margin: auto;
    padding-top: 60px;
    padding-bottom: 100px;
    @media (min-width: 1000px) {
      max-width: 1000px;
    }
    .information-wrapper {
      display: flex;
      @media (max-width: 600px) {
        flex-direction: column;
      }
      & > div:first-child {
        width: 35%;
        padding: 0 16px;
        @media (max-width: 600px) {
          width: 100%;
          box-sizing: border-box;
        }
      }
      & > div:last-child {
        flex: 1;
        padding: 0 16px;
        @media (max-width: 600px) {
          flex: unset;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
  :global {
    span.gold-text {
      background: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 0%,
          #fdb931 15%,
          #9f7928 30%,
          #8a6e2f 50%,
          transparent 80%
        ),
        radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 15%,
          #d1b464 25%,
          #e1a721 62.5%,
          #daa52d 100%
        );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
