$color-primary: #db9202;
$color-background: #046404;
$color-white: #efe8ab;
$color-caption: #eaa220;
$color-background-start: #000000;
$color-background-middle: #233329;
$color-background-end: #4c9955;
